<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Sign Off Pizza</title>
    <link href="../style/reset.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
    <link href="../style/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <link href="../style/bootstrap/font_awesome/bootstrap-social.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../images/pizza.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../style/bootstrap/javascript/bootstrap.js"></script>
    <script src="../javascript/scrollMechanism.js"></script>
    <script src="../style/javascript/javascript.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>

<body>
<nav>
        <div class="topnav" id="myTopnav">
          
            <% if @login then %>
             <% if $adminid == 1 then %>
                    <a href="Admin">Home</a>
                    <a href="Marketing">Marketing Management</a>
                    <a href="Orders">Order Management</a>
                    <a href="CreateStaff">Add Staff</a>
                    <a href="Menu">Menu</a>
                    <a href="MyAccount">My Account</a>
             <% end %>
            <% if $adminid==2 %>
                <a href="Orders">Home</a>
                <a href="Orders">Order Management</a>
                <a href="MyAccount">My Account</a>
             <% end %>
            <% if $adminid==3 %>
                <a href="Marketing">Home</a>
                <a href="MarketingCampaign">Marketing Management</a>
                <a href="MyAccount">My Account</a>
             <% end %>
            <% if $adminid == 0 %>
                    <a href="home">Home</a>
                    <a href="Menu">Menu</a>
                    <a href="MyDetails">My Details</a>
                    <a href="contactus">Contact Us</a>
              <% end %>
            <a href="logout">Log Out</a>
            <% end %>
           <% if !@login then %>
                <a href="home">Home</a>
                <a href="Menu">Menu</a>      
                <a href="contactus">Contact Us</a>
                <a href="/#login">Log In</a>
          <% end %>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </nav>
    
    <h1>Sign Off Pizza</h1>
    <br>

    <h1>Add a New Pizza</h1>
    
    <form role="form" method="post" >
        
         <% if @submitted && !@name_ok %>
          <p style="color:red">Please enter a different pizza name</p>
        <% end %>

        <% if @submitted && !@twitter_ok %>
         <p style="color:red">Please enter a different twitter hashtag identifier</p>
        <% end %> 
        
        <% if @submitted && !@description_ok %>
         <p style="color:red">Please enter a valid description</p>
        <% end %> 
        
        <% if @submitted && !@price_ok %>
         <p style="color:red">Please enter a valid price</p>
        <% end %> 

        <% if @submitted && !@unique %>
         <p style="color:red">The pizza details are the same as before</p>
        <% end %> 
        
		 <div class="form-group row">
			<label for="name" class="col-sm-2 col-form-label">Name</label>
			<div class="col-sm-10">
				<input type="text" name="name" id="name" class="form-control" 
                       placeholder="Choose the name" value="<%=h @name if @submitted %>">
			</div>
		</div>
        
         <div class="form-group row">
			<label for="twitter" class="col-sm-2 col-form-label">Twitter Handler</label>
			<div class="col-sm-10">
				<input type="text" name="twitter" id="twitter" class="form-control" 
                       placeholder="Choose the twitter shortcut" value="<%=h @twitter if @submitted %>">
			</div>
		</div>
        
         <div class="form-group row">
			<label for="description" class="col-sm-2 col-form-label">Description</label>
			<div class="col-sm-10">
				<input type="text" name="description" id="description" class="form-control" 
                       placeholder="Keep it short" value="<%=h @description if @submitted %>">
			</div>
		</div>
        
        <div class="form-group row">
			<label for="price" class="col-sm-2 col-form-label">Price</label>
			<div class="col-sm-10">
				<input type="text" name="price" id="price" class="form-control" 
                       placeholder="Keep it reasonable" value="<%=h @price if @submitted %>">
			</div>
		</div>
        
        <% if @submitted && !@location_ok %>
            <p style="color: red">Please enter a value between 0 and 3</p>
        <% end %>
        
          <div class="form-group row">
			<label for="location" class="col-sm-2 control-label">Location</label>
			<div class="col-sm-10">
                <select value="<%=@location %>" name="location" id="location" tabindex="2" class="form-control">
                  <option value="<%=@location=3%>">Both</option>
                  <option value="<%=@location=1%>">Sheffield</option>
                  <option value="<%=@location=2%>">London</option>
                </select>
			</div>
		</div>
    
		<div class="form-group row">
			<div class="col-sm-10 col-sm-offset-9">
				<input id="submit" name="submit" type="submit" value="Add" class="btn btn-primary">
			
            </div>
		</div>   
		
	</form>
</body>

</html>