<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Sign Off Pizza</title>
    <link href="../style/reset.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
    <link href="../style/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <link href="../style/bootstrap/font_awesome/bootstrap-social.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../images/pizza.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../style/bootstrap/javascript/bootstrap.js"></script>
    <script src="../javascript/scrollMechanism.js"></script>
    <script src="../style/javascript/javascript.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>

<body>
<nav>
        <div class="topnav" id="myTopnav">
          
            <% if @login then %>
             <% if $adminid == 1 then %>
                    <a href="Admin">Home</a>
                    <a href="Marketing">Marketing Management</a>
                    <a href="Orders">Order Management</a>
                    <a href="CreateStaff">Add Staff</a>
                    <a href="Menu">Menu</a>
                    <a href="MyAccount">My Account</a>
             <% end %>
            <% if $adminid==2 %>
                <a href="Orders">Home</a>
                <a href="Orders">Order Management</a>
                <a href="MyAccount">My Account</a>
             <% end %>
            <% if $adminid==3 %>
                <a href="Marketing">Home</a>
                <a href="MarketingCampaign">Marketing Management</a>
                <a href="MyAccount">My Account</a>
             <% end %>
            <% if $adminid == 0 %>
                    <a href="home">Home</a>
                    <a href="Menu">Menu</a>
                    <a href="MyDetails">My Details</a>
                    <a href="contactus">Contact Us</a>
              <% end %>
            <a href="logout">Log Out</a>
            <% end %>
           <% if !@login then %>
                <a href="home">Home</a>
                <a href="Menu">Menu</a>      
                <a href="contactus">Contact Us</a>
                <a href="/#login">Log In</a>
          <% end %>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </nav>
    
    <h1>Sign Off Pizza<% if @city == 2 %> London <% end %></h1>
    
     <!-- this form handles the instance a user wants to check delivery eligibility -->
    <% if @login && !@perm %>  
                <form  method="post" action="/deliverycheck" >
                     <!-- Depending on their postcode the correct response is displayed to the user -->
                    <% if @submitted && @valid && @sheffield%>
             <p style="color:white">This account is valid for delivery in Sheffield</p>
            <% end %> 
                     <% if @submitted && @valid && @london%>
             <p style="color:white">This account is valid for delivery in London</p>
            <% end %> 
                     <% if @submitted && !@valid && @london %>
             <p style="color:white">This account is not valid for delivery in London</p>
            <% end %> 
                    <% if @submitted && !@valid && !@sheffield && !@london %>
             <p style="color:white">This account is not valid for delivery in Sheffield or in London</p>
            <% end %> 
            <input align="right" tabindex="90" id="deliverycheck" name="check" type="submit" value="Am I eligible for DELIVERY?" class="btn btn-primary">        
        </form>
    <% end %>
    
   <% unless @menu.nil? %>
    <% if @menu.length == 0 %>
        <p>We are out of stock!</p>
    <% else %>
        <% @menu.each do |pizza| %>
     <!-- This ensures that pizzas available in both locations will be displayed to the admin and pizzas avaialble
           in their particular location will be displaye -->
        <% if ((@city == pizza[5] || pizza[5] == 3)) %>
            <div class="pizza">
                <img src="../images/pizza.jpg" class="img-thumbnail" alt="Responsive image" >
                <br>
                 Pizza <%= pizza[1] %>
                 <span class="price">£<%= pizza[4] %></span>
                <br>
                <p><%= pizza[3] %></p>
                
                <!-- if logged in, but not as admin -->
                <% if @login && !@perm %>                
                
                 <a class="btn btn-block btn-social btn-twitter" 
                    href="https://twitter.com/intent/tweet?screen_name=SignOffPizza&hashtags=<%= pizza[2]%>, DELIVERY">
                     Order for Delivery    </a>  
                  
                 <a class="btn btn-block btn-social btn-twitter" 
                    href="https://twitter.com/intent/tweet?screen_name=SignOffPizza&hashtags=<%= pizza[2]%>, COLLECT">
                     Order for Collect    </a> 
                <% end %>
                
                <!-- if admin -->
                <%if @perm %>
                <form method="get" action="/editMenu">
                    <input type="hidden" name="pizzaid" value="<%= pizza[0] %>">
                    <input class='btn btn-primary' type='submit' value='Edit Pizza'>
                </form>
                <% end %>
        <% end %>
            </div>
    
    <% end %>  
   <% end %>
    <% end %>
    
   <% if @perm %>
        <div class="pizza" id="new">
            <a href="AddPizza">
                <div class="plus">
                   <br> + <br> New Pizza
                </div>
              
             </a>
    </div>
    <% end %>
</body>

</html>